<launch>
    <param name="/use_sim_time" value="true"/>
    <include file="$(find navigation_stage)/move_base_config/move_base.xml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robotics8)/map/map.yaml"/> <node pkg="stage_ros" type="stageros" name="stageros" args="$(find stage_ros)/world/willow-erratic.world"/> <include file="$(find navigation_stage)/move_base_config/amcl_node.xml"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/single_robot.rviz" />

    <!-- move_base -->
    <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find nav_lecture)/config/move_base/local_costmap_params_old.yaml" command="load" />
        <rosparam file="$(find nav_lecture)/config/move_base/global_costmap_params_old.yaml" command="load" />
        <rosparam file="$(find nav_lecture)/config/move_base/base_local_planner_params.yaml" command="load" />

        <param name="global_costmap/global_frame" value="map" />
        <param name="global_costmap/robot_base_frame" value="base_link" />
        <param name="local_costmap/laser_scan_sensor/sensor_frame" value="laser" />
        <param name="local_costmap/laser_scan_sensor/topic" value="base_scan" />
        <param name="local_costmap/global_frame" value="odom" />
        <param name="local_costmap/robot_base_frame" value="base_link" />
        <remap from="cmd_vel" to="/cmd_vel" />
        <remap from="odom" to="/odom" />
    </node> -->
    <!--AMCL-->
    <!-- <node pkg="map_server" type="map_server" name="map_server" args="$(find robotics8)/map/map.yaml">
        <param name="frame_id" value="/map"/>
    </node> -->
    <!-- <node pkg="amcl" type="amcl" name="amcl_node" output="screen">
        <param name="odom_model_type" value="diff"/>
        <param name="odom_alpha5" value="0.1"/>
        <param name="gui_publish_rate" value="10.0"/>
        <param name="laser_max_beams" value="30"/>
        <param name="min_particles" value="50"/>
        <param name="max_particles" value="100"/>
        <param name="kld_err" value="0.05"/>
        <param name="kld_z" value="0.99"/>
        <param name="odom_alpha1" value="0.2"/>
        <param name="odom_alpha2" value="0.2"/>
        <param name="odom_alpha3" value="0.8"/>
        <param name="odom_alpha4" value="0.2"/>
        <param name="laser_z_hit" value="0.5"/>
        <param name="laser_z_short" value="0.05"/>
        <param name="laser_z_max" value="0.05"/>
        <param name="laser_z_rand" value="0.5"/>
        <param name="laser_sigma_hit" value="0.2"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_model_type" value="likelihood_field"/>
        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="update_min_d" value="0.2"/>
        <param name="update_min_a" value="0.5"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="resample_interval" value="1"/>
        <param name="transform_tolerance" value="0.1"/>
        <param name="recovery_alpha_slow" value="0.0"/>
        <param name="recovery_alpha_fast" value="0.0"/>
    </node> -->

</launch>